.Dialogs {
    width: 180px;
    background: #6c675d;
    padding: 15px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.Dialogs:hover  {
    background: #4b4841;
}

a:active, a:focus, a:hover {
    color: #cba416;
}
