.Wrapper {
    width: 100vh;
    display: grid;
    justify-content: center;
    margin: auto;
}

.container {
    background: white;
    width: 1304px;
    padding: 0 68px;
    display: flex;
 }

.Sidebar {
    background: #6c675d;
    width: 210px;
    height: 100%;
    padding-bottom: 32px;
}


.Info {
    height: 100%;
    width: calc(100% - 212px);
    padding: 16px;
}

