.Wrapper {
    width: 100vh;
    display: grid;
    justify-content: center;
    margin: auto;
}

.container {
    background: white;
    width: 1304px;
    padding: 0 68px;
    display: grid;
    grid-template-columns: auto auto;
}

.Sidebar {
    background: #6c675d;
    width: 210px;
    height: 100%;
}

.AllMessages {
    display: grid;
    justify-content: start;
    width: 1124px;
}

.CreateMessage {
    margin: 15px;
    width: 360px;
    display: grid;
    gap: 15px
}


