.container {
    display: grid;
    grid-template-columns: auto auto auto  auto auto auto auto;
    height: 68px;
    display: grid;
    justify-items: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}
a:focus {
    color: #99823D;
}
